body {
  background-color: #343a40;
  margin: 0;
  padding: 0;
}

.app {
  padding: 10px;
}

.control-panel {
  margin-bottom: 5px;
}

.map-container {
  margin-top: 5px;
}

.btn {
  background-color: #212529;
  color: white;
  border-radius: 15px;
  border: none;
}
